{
	module: 'MMM-NewPIR',
        config: {
		sensorPin: 21, // sensor pin out
                delay: 60 * 1000, // delay for time out
                turnOffDisplay: true, // turn off display
                EconomyMode: true, // hide all modules
		UseHotword: true, // use Assistant Hotword detection ?
		HotWord : "HOTWORD_PAUSE", // Notification when hotword is detected
                HotWordModules : [ "MMM-AssistantMk2" , "MMM-JarvisFace" ], // modules to display when hotword detected (the other modules will be hidden)
		Governor : "" // Set CPU Governor : "conservative"  "ondemand"  "userspace"  "powersave"  "performance" or set "" for no change
        }
},
