#NEWPIR {
  font-size: large;
  /*display: flex;*/
}

#NEWPIR.hidden {
  display: none;
}

#NEWPIR_TEXT {
  margin-right: 10px;
}

#NEWPIR_SCREEN {
  font-size: large;
  display: flex;
}

#NEWPIR_BAR.hidden,
#NEWPIR_SCREEN.hidden {
  display: none;
}

#NEWPIR_SCREEN_TEXT {
  margin-right: 10px;
}


#NEWPIR_SCREEN_BAR {
  font-size: large;
}

#NEWPIR_SCREEN_BAR.Line {
  height: 40px;
}

#NEWPIR_SCREEN_BAR.Circle {
  width: 100px;
  height: 93px;
  top: 10px;
}

#NEWPIR_SCREEN_BAR.SemiCircle {
  width: 100px;
  top: 10px;
}

#NEWPIR_SCREEN_BAR.Bar {
  margin-bottom:4px;
  height: 4px;
  width: 100%;
  position:relative;
}

